body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

/* first section starts here */

#top-section {
    background-image: url("../images/donation.jpg");
    background-repeat: no-repeat;
    background-size: 1440px;
    height: 669px;
    margin-bottom: 130px;
}

#div-01 {
    width: 750px;
    height: 320px;
    padding: 174px 307px 175px 307px;
    color: #fff;
    text-align: center;
}

#div-01 h1 span {
    color: #02aab0;
}

#div-01 p {
    margin-bottom: 30px;
}

.btn {
    background-image: linear-gradient(to top right, #02aab0, #00cdac);
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

/* first section ends here */

/* donate today starts here */

.div02 {
    text-align: center;
    width: 650px;
    margin: 0 auto;
}

.div03 {
    margin-top: 50px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.div03 h3 {
    background-color: #d8f1f1;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.div04 {
    width: 765px;
    margin: 0 auto;
    display: block;
}

.div04 input {
    border: none;
    border-bottom: 1px solid #02aab0;
    width: 765px;
    outline: 0;
    padding: ;
    margin-bottom: 20px;
    text-align: center;
}

.div04 a {
    margin-left: 320px;
}

/* donate today ends here */